@import "../../styles/includes/includes";

.footer {
  padding: rem(50px) rem(20px) rem(20px);
  background-color: $primary_color;

  span {
    margin-right: rem(10px);
    font-size: rem(16px);
    color: $text_color;

    &:last-child {
      margin-right: 0;
    }
  }

  :global(.sprite-heart) {
    transform-origin: center;
    animation: heartbeat .75s infinite alternate;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes heartbeat {
  to {
    transform: scale(1.1);
  }
}
