.animation {
  &--opacityIn {
    animation: opacityIn .25s ease-in-out .25s forwards;
  }

  &--slideDown {
    animation: slideDown .5s ease-in-out;
  }
}

@keyframes opacityIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}
