$font_name: 'Open Sans';
$font-path_name: 'OpenSans';

// Static color
$white: #fffdff;
$black: #000000;

// Project colors
$main_color: #df0772;
$accent_color: #01cbcf;
$accent_color_light: #0bffe6;
$text_color: $white;
$bg_color: #3e3264;
$shadow_color: rgba($black, .5);
