@import "../../styles/includes/includes";

.header {
  padding: rem(10px) 0;
}

.wrapper,
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  &__link {
    display: block;
    width: rem(60px);
    height: rem(60px);

    &:hover,
    &:focus {
      .logo__svg {
        background-color: rgba($secondary_color_light, .3);
        animation: flipVerticalRight .3s   cubic-bezier(.455, .03, .515, .955) 2 alternate;
      }
    }
  }

  &__svg {
    fill: $primary_color;

    @include svg();
  }
}

@keyframes flipVerticalRight {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.account {
  margin-top: -4px;
  margin-right: rem(10px);

  &__link {
    display: block;
    width: rem(45px);
    height: rem(45px);

    &:hover,
    &:focus {
      .account__svg {
        background-color: rgba($secondary_color_light, .3);
      }
    }
  }

  &__svg {
    fill: $primary_color;

    @include svg();
  }
}

.overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($secondary_color_dark, .8);
}

:global(.hamburger) {
  position: relative;
  z-index: 10;

  &:hover,
  &:focus {
    opacity: 1;

    :global(.hamburger) {
      &-box {
        background-color: rgba($secondary_color_light, .3);
      }
    }
  }

  &-inner,
  :global(.hamburger-inner) {
    background-color: $primary_color;

    &::before,
    &::after {
      background-color: $primary_color;
    }
  }
}

:global(.hamburger.is-active) {
  &:hover,
  &:focus {
    opacity: 1;

    :global(.hamburger) {
      &-box {
        background-color: rgba($text_color, .3);
      }
    }
  }

  &-inner,
  :global(.hamburger-inner) {
    background-color: $text_color;

    &::before,
    &::after {
      background-color: $text_color;
    }
  }
}

.nav {
  @include center();
  z-index: 10;
  opacity: 0;
  width: 100%;
}

.item {
  position: relative;
  margin-bottom: rem(10px);

  &:hover,
  &:focus {
    &::before {
      height: 100%;
    }

    .link {
      color: $secondary_color_light;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0;
    background-color: $text_color;
    transition: height .3s;
    content: "";
  }
}

.link {
  @include font(700);
  position: relative;
  display: block;
  text-align: center;
  font-size: rem(40px);
  color: $text_color;
  transition: all .3s;
}
