@import "../../styles/includes/includes";

.header {
  padding: 10px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  &__link {
    display: block;
    max-width: 60px;
    height: auto;
  }

  &__img {
    @include img();
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($secondary_color_dark, .8);
}

:global(.hamburger) {
  &-inner,
  :global(.hamburger-inner) {
    background-color: $primary_color;

    &::before,
    &::after {
      background-color: $primary_color;
    }
  }
}

:global(.hamburger.is-active) {
  &-inner,
  :global(.hamburger-inner) {
    background-color: $text_color;

    &::before,
    &::after {
      background-color: $text_color;
    }
  }
}

:global(.hamburger),
:global(.hamburger.is-active) {
  &:hover,
  &:focus {
    opacity: 1;

    :global(.hamburger),
    :global(.hamburger.is-active) {
      &-inner,
      :global(.hamburger-inner) {
        background-color: $secondary_color_light;

        &::before,
        &::after {
          background-color: $secondary_color_light;
        }
      }
    }
  }
}

.nav {
  @include center();
  z-index: 1;
  opacity: 0;
}

.item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.link {
  @include font(700);
  display: block;
  text-align: center;
  font-size: 40px;
  line-height: 1.2;
  color: $text_color;
  transition: all .3s;

  &:hover,
  &:focus {
    color: $secondary_color_light;
  }
}
